nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
border: 1px solid black;
}
nav ul {
  list-style-type: none;
}
nav li {
  position: relative;
}
nav .linksNabvar {
  display: flex;
  margin: 2%;
}
nav .linksNabvar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav .linksNabvar ul li {
  display: inline-block;
}
nav .linksNabvar li a {
  color: #000000;
  text-decoration: none;
  margin: 0 1rem;
}
nav .linksNabvar li a:hover{
color: rgb(237, 218, 218);
}
nav li:hover .dropdown-menu {
  display: block;
}
nav .dropdown-menu {
  position: absolute;
  top: 100%;
  background-color: rgba(108, 75, 75, 0.7);
  display: none;
  width: 100%;
  border-radius: 5%;
padding: 10px;
}
nav .dropdown-menu a {
  color: rgb(0, 0, 0);
}
nav .dropdown-menu a:hover {
  background-color: rgb(91, 6, 6);
}
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  nav a {
    width: 100%;
    text-align: center;
  }
}